canvas{
    background-image: url("./map.webp");
    background-size: 640px 480px;
    background-repeat: no-repeat;
    /*1172 × 980*/
    height: 480px;
    width: 640px;
    border: 1px solid black;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}